@import 'tailwindcss';

@layer {
  @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
}

@theme {
  --font-body: "Protest Strike", sans-serif;
  --color-black: #1E1E1E;
  --color-grey: #161616;
  --color-white: #FFFFFF;
  --color-red: #D52124;
  --color-green: #21D521;
  --color-blue: #21A5D5;
  --color-pink: #73196A;
  --color-neon: #00FF1E;
}